@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 233, 220;
    --background-start-rgb: 180, 135, 145;
    --background-end-rgb: 150, 110, 120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent 50%,
      /* Adjust this percentage to move the start point of the transition */
        rgb(var(--background-end-rgb)) 100%
    ),
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply font-lilyScriptOne;
  }
}
